<div id="container">
	<div class="line01"></div>
		<div class="column2-ex-left-2-old">
		<h1>{$smarty.const.PRICING}</h1>
		<h2>Memba(Wanaojiunga)</h2>
		<p>Pokea ofa kupitia SMS BURE kabisa bila malipo!</p>
		<br />
		<h2>SMS za Makundi/Jumla</h2>
		<p>Bongo Live! inatoa vifurushi kadhaa vya SMS  za mafungu kwa ajili ya kununua. Vifurushi hivyo vimeainishwa hapa chini:</p>
			<ul>
				
				{section name=credit loop=$arrCreditScheme}

				<li type="circle">{$arrCreditScheme[credit].start_range} -  {$arrCreditScheme[credit].end_range} , Tsh {$arrCreditScheme[credit].rate}/SMS </li>
				{/section}
				<li type="circle">10000+ <a href="contactus.php">{$smarty.const.CONTACT_US}</a> 
			</ul>
		
		 <br/>
		<h2>Targeted SMS Advertising</h2>
		<p>Ili kufahamu kuhusu viwango vya kujitangaza kupitia SMS kunakolenga makundi maalum,  <a href="contactus.php">wasiliana nasi</a>. Je, bajeti yako ni ndogo? Timu yetu ya wataalamu itafanya kazi pamoja nawe ili kupunguza matumizi yako na kuongeza matokeo ya kujitangaza kwako katika uwekezaji wako.</p>
	
		<br />
		<h2>Huduma & Masuluhisho Kadiri ya Mahitaji</h2>
		<p>Uwe ni mradi mkubwa au mdogo, mahitaji ya kila mteja ni ya kipekee na bei zetu zinaendana na ugumu na upana  wa huduma zinazotakiwa. Wasiliana nasi kwa ushauri wa bure usiokulazimu kufanya chochote baada ya kuupata.</p>
		<br/>

		</div>
	<div class="column2-ex-right-2"> &nbsp;</div>
	<div class="clear"></div>
</div>