.mainlevel{
   margin: 0; padding: 0 24px 0 23px; list-style: none; float: left; border-left: 1px solid #000; height: 33px;
}

.pager span {
	text-decoration:none;
	color: black;
	font-size:11px;
}

.pager span .pathway {
	text-decoration:none;
	color: red;
	font-size:11px;
}

.article_separator{
	margin:0px;
	padding:0px;
	display:none;	
}

.l-menu  #current{
	background: url("../images/l-menu.gif") 7px 2px no-repeat;
}
