<div id="mail">
	<table style="background-color:#f9f9f9; width:80%;" align="center" cellspacing="1" cellpadding="1">
		
		
		<tr>
			<td>From:</td>
			<td></td>
		<tr>
		<tr>
			
			<td>Name:</td>
			<td>{$cname}</td>
		<tr>
		<tr>
		
			
			<td>Mobile Number:</td>
			<td>{$cmob_no}</td>
		<tr>
		<tr>
		
			
			<td>E-Mail Address:</td>
			<td>{$cemail}</td>
		<tr>
		<tr>
		
			
			<td>Business Name</td>
			<td>{$cbusiness_name}</td>
		<tr>
		<tr>
			<td colspan="2" style="background-color:#000;height:1px"></td>
			
		<tr>
		<tr>
			<td>Customer's Message</td>
			<td></td>
			
		<tr>
		<tr>
			<td colspan="2">{$cmessageBody|nl2br|wordwrap:150}</td>
			
		<tr>
	
	</table>


<div>