#wrapper{width:200px; height:400px; float:left; background-image:url(../images/background.jpg); background-repeat:no-repeat}
.text{width:190px; height:186px; float:left;}
.font{ font-family: "Berlin Sans FB Demi"; font-size: 25px; color:#FFFFFF; }
#img{width: 144px; height: 48px;}
.text1{text-align:center; width:144px; height:48px; float:left; /*background-image:url(../images/font.png);*/ background-repeat:no-repeat; margin-top:3px; margin-left:25px}
#img_sms{width: 32px; height: 19px;}
.sms{ width: 32px; height:19px; float:left;/* background-image:url(../images/sms.png); background-repeat:no-repeat;*/ margin-left:80px; margin-top:3px}
.top{width:182px; height:263px; float:left; background-image:url(../images/topback.png); background-repeat:no-repeat; margin-left:4px; margin-top: -120px}
.fields{width:158px; height:25px; border-top:2px solid #999999; margin-top:3px; margin-left:6px; font-family:Tahoma; font-size: 14px; color: #000000; text-align:center}
.fields1{width:158px; height:25px; border-top:2px solid #999999; margin-top:3px; margin-left:6px; font-family:Tahoma; font-size: 14px; color: #000000; text-align:center}
.accept{width:140px; height:20px; font-family: Tahoma; font-size:10px; color:#FFFFFF; margin-left:20px; margin-bottom:0px; padding-bottom:0px;}

.sub{background-image: url(../images/ss.png); background-repeat:no-repeat; width:105px; height:36px; margin-left:30px; margin-top:3px;padding-top:0px}
.powered{ width:100px; height:20px; float:left; font-family:Tahoma; color:#000000; font-size:14px; margin-left:55px; margin-top:5px}
#img_text{width:141px; height:38px;}
.lower{width:141px; height:38px; float:left; /*background-image: url(../images/text.png); background-repeat:no-repeat;*/ margin-left:25px}
.top{padding-top:7px;}
