.anythingFader {
	width: 650px; 
	/*border:0px solid #000;*/
	height: 320px;/*380*/
	position: relative;
	margin: 0;
	float:left;
}
.anythingFader .wrapper {
	width: 650px;
	overflow: auto;
	height: 320px;/*380*/
	margin: 0 0px;
	position: absolute;
	top: 0;
	left: 0;
}
.anythingFader .wrapper ul {
	width: 9999px;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}
.anythingFader ul li {
	display: block;
	float: left;
	padding: 0;
	height: 380px;
	width: 650px;
	margin: 0;
}
.anythingFader .arrow {
	display: block;
	text-indent: -9999px;
	position: absolute;
}
#thumbNav {
	position: relative;
	top: 220px;/*250*/
	left:20px;
}
#thumbNav a {
	color: #2C973E;
	font: 10px/18px Georgia, Serif;
	display: inline-block;
	padding: 0px 6px;
	height: 16px;
	margin: 0 0 0 0;
	text-align: center;
	text-decoration:none;
	border-bottom:#2C973E solid 1px;
	border-top:#2C973E solid 1px;
}
#thumbNav a:hover {
	background-image: none;
}
#thumbNav a.cur {
	background:#2C973E;
	color:#FFF;
}
/*
  Prevents
*/
.anythingFader .wrapper ul ul {
	position: static;
	margin: 0;
	background: none;
	overflow: visible;
	width: auto;
	border: 0;
}
.anythingFader .wrapper ul ul li {
	float: none;
	height: auto;
	width: auto;
	background: none;
}
