.topmenu {
	position:relative;
	height:64px;
}
.topmenu ul.primary {
	position:absolute;
	z-index:2;
}
.topmenu ul.primary li {
	float:left;
	/*list-style:url(../images/ico_01.png) inside;*/
	height:28px;
	color: #93278F;
	padding: 6px 6px 2px;
}
.topmenu ul.primary a {
	font-family: verdana, sans-serif;
	font-size: 16px;
	font-weight:bold;
	text-decoration: none; padding:0 0 0 20px;
}
.topmenu ul.primary .current a {
	color: #FFF;
}
.topmenu ul.primary .current {
	border: 1px solid #93278F;
	border-bottom: none;
	background: url(../images/bg_top_menu.png) repeat-x;
	color:#FFF;
}
.topmenu ul.primary .current a:hover {
	color:#FFF;
}
.topmenu ul.primary a:hover {
	color:#2C973E;
}
.topmenu ul.secondary {
	display:none;
}
.topmenu ul.secondary li {
	list-style:none;
}

.topmenu ul.secondary li a{background: url(../images/sec_bgimg.gif) repeat-x; padding:0; margin:0;
}

.topmenu ul.primary .active-topmenu ul.secondary {
	display:inline;
	width:958px;
	height:28px;
	position: absolute;
	bottom: -28px;
	left:0;
	z-index:-1;
	background: url(../images/bg_top_menu.png) repeat-x 0 -36px;
	border:1px solid #93278F;
	border-bottom:none;
	margin:0;
}
.topmenu ul.secondary li a {
	display: block;
	border: none;
	color: #fff;
	font-size:12px;
	font-weight:bold;
	text-decoration: none;
}
.topmenu ul.secondary li a.current-sec {
	text-decoration: underline;
}
.topmenu ul.secondary li a:hover {
	color: #fff;
	border: none;
	text-decoration:underline;
}

.item-one{background:url(../images/ico_01.png) no-repeat 10px 3px;}
.item-two{background:url(../images/ico_02.png) no-repeat 10px 3px;}
.item-three{background:url(../images/ico_03.png) no-repeat 10px 3px;}
.item-four {background:url(../images/ico_04.png) no-repeat 10px 3px;}
.item-five {background:url(../images/ico_05.png) no-repeat 10px 3px;}
.item-seven {background:url(../images/ico_07.png) no-repeat 10px 3px;}
.item-eight {background:url(../images/ico_08.PNG) no-repeat 10px 3px;}
.item-nine {background:url(../images/ico_09.PNG) no-repeat 10px 3px;}


/*.item-one-a {background: url(../images/bg_top_menu.png) repeat-x !important;}
*/

.item-one-a a{ background:url(../images/ico_01_a.png) no-repeat 0px 3px;}
.item-two-a a{background:url(../images/ico_02_a.png) no-repeat 0px 3px;}

.item-three-a a{background:url(../images/ico_03_a.png) no-repeat 0px 3px;}
.item-four-a a{background:url(../images/ico_04_a.png) no-repeat 0px 3px;}
.item-five-a a{background:url(../images/ico_05_a.png) no-repeat 0px 3px;}
.item-seven-a a{background:url(../images/ico_07_a.png) no-repeat 0px 3px;}
.item-eight-a a{background:url(../images/ico_08_a.PNG) no-repeat 0px 3px;}
.item-nine-a a{background:url(../images/ico_09_a.PNG) no-repeat 0px 3px;}


.column1-01 {
	width:940px;
	/*height:300px;
	background:#CCC;*/
	margin:10px 0;
}