.btd{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #91278f/*#617798*/;
    border: 1px solid #5b195a;
    border-radius: 5px;
    color: #eee;
    cursor: pointer;
    height: 26px;
    line-height: 25px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}
.btd:hover{
 background: #c735c4/*899ab4*/;
}
#list_prim_keywords, #list_second_keywords{
   font-size: 16px;
    height: 210px;
    letter-spacing: 2px;
    width: 250px;
}
#content_second_keywords, #box_prim_keywords{
    float:left;
    margin-left:50px;
}

