/*Bongo Live style*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	padding: 0 0 0 0;
	background: #fff;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
}
img {
	border:none;
}
h1 {
	font-size:20px;
	color:#93278F;
	margin:10px 0px 10px 0px;
}
h2 {
	font-size:16px;
	color:#000;
	margin:5px 0px 5px 0px;
}
h3 {
	font-size:16px;
	color:#000;
	margin:0px 0px 3px 0px;
	font-weight:normal;
}
p {
	font-size:14px;
	margin:0px 0px 10px 0px;
}
.clear {
	clear:both;
}
.it {
	font-style:italic;
}
.bold {
	font-weight:bold;
}
.underline {
	text-decoration:underline;
}
.through {
	text-decoration:line-through;
}
.ta-right {
	text-align:right;
}
.ta-left {
	text-align:left;
}
.ta-center {
	text-align:center;
}
.purple {
	color:#93278F;
}
.green {
	color:#2C973E;
}
.gray {
	color:#999;
}
/*-------------------------------------------------------*/


#container-top {
	width:960px;
	margin:0px auto 0px;
	/*border:#666 solid 1px;*/
	padding:0px 0px 0px 0px;
}
#container {
	width:940px;
	margin:0px auto 0px;
	/*border:#666 solid 1px;*/
	padding:0px 10px 0px 10px;
}
.logo {
	width:290px;
	float:left;
	margin:0px 0px 0px 0px;
}
/*---------------------Top Navigation------------------*/
.afterlogin_msg {
	float:right;
	margin:10px 0px;
	padding:0;
	list-style:none;
	width:650 px;	
	font-size:14px;
	font-weight:bold;
	position:absolute;
	z-index:100;
}

#header_topright {
	margin:0px;
	padding:0;
	list-style:none;
	width:650 px;
	float:left;	
}


#nav {
	margin:5px 0px 0px 20px;
	padding:0;
	list-style:none;
	width:650 px;
	float:left;
	font-size:18px;
	font-weight:bold;
}
#nav li {
	float:left;
	display:block;
	/*width:100px; */
	position:relative;
	z-index:500;
	margin:0 10px;
}
/* this is the parent menu */
#nav li a {
	display:block;
	padding:8px 0;
	height:23px;
	text-decoration:none;
	text-align:center;
	color:#93278F;
}
#nav li a:hover {
	color:#2C973E;/*border-left:#666 solid 1px;*/
}
#nav a.active {
	color:#2C973E;
}
/* submenu, it's hidden by default */
#nav ul {
	position:absolute;
	left:0;
	display:none;
	margin:0 0 0 0px;
	padding:0;
	list-style:none;
	background:#fff;
	border:#666 solid 1px;
	border-top:none;
	border-right:none;
}

/*#nav ul li {
	width:100px;float:left;
}*/

#nav ul li {

width:180px;/*float:left;*/
}


/* display block will make the link fill the whole area of LI */
#nav ul a {
	display:block;
	height:15px;
	padding: 5px;
	color:#93278F;
	text-decoration:none;
	font-size:12px;
	text-align:left;
}
#nav ul a:hover {
	text-decoration:underline;
}
/*---------------------Top Navigation End------------------*/

.banner {
	background:url(../images/bg_top.png);
	background-position: center;
	background-repeat:no-repeat;
	height:300px;/*380*/
	/*border:#CCC solid 1px;*/
	padding:0px 0px 0px 20px;
}
.description {
	margin:60px 0px 0px 20px;
	float:left;
}
.banner p {
	width:380px;
	margin:0px 0px 0px 0px;
}
img.pic01 {
	margin:0px 0px 0px 20px;
	height:320px;
}
.slide {
	width:700px;
	float:left;
	border:#CCC solid 1px;
}

/****** sign in tabs *********/
.sign-in_maintab {	
	width:208px;
	border:0px solid #000000;
	margin:0px 0px 0px 0px;
	float:right;
}

.sign-in_welcome_logout {	
	width:270px;
	border:0px solid #000000;
	margin:0px 0px 0px 0px;
	float:right;
	font-weight:bold;
}

.sign-in { 
    font-weight:normal;
	background:#97187c url(../images/bg_sign_in.png) no-repeat 0 0;
	width:197px;	
	font-size:13px;
	margin:0px 0px 0px 0px;
	padding-left:10px;
	float:left;
}

.sign-in_bottom { 
	background:url(../images/bg_sign_in_bottom.png) no-repeat left bottom;
	width:207px;	
	margin:0px 0px 0px 0px;
	float:left;
	height:3px;
}



.forget_pass{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#fff;
	text-decoration:none;
}
.forget_pass a {
	color:#fff;
	text-decoration:none;
}
.forget_pass a:hover {
	color:#fff; text-decoration:underline;
}



.sign-in input {
	border:#000 solid 1px; padding:2px;
}
.sign-in form table {
	border:none;
	margin:0px 0px 0px 10px;
}
.sign-in table td {
	vertical-align:top;
	color:#FFF;
}
.sign-in .submit {
	float:right;
	border:none;
	color:#FFF;
	text-decoration:underline;
	background:none;
	cursor:pointer;
}
.line01 {
	border-top:#CCC dashed 1px;
	margin:0px 0px 0px 0px;
}
.column2-left {
	width:460px; /*300 for 3 box layout*/
	height:120px;
	float:left;
	margin:0px 20px 0px 0px;
	padding-top:10px;
}
.column2-right {
	width:460px; /*300 for 3 box layout*/
	height:120px;
	float:left;
	margin:0px 0px 0px 0px;
	padding-top:10px;
}
.column4-left {
	width:234px;
	height:150px;
	border-right:#CCC dashed 1px;
	padding-top:10px;
	margin:0px 0px 0px 0px;
	float:left;
}
.column4-left h2 a {
	text-decoration:none;
}
.column4-right {
	width:234px;
	height:150px;
	/*border-right:#CCC dashed 1px;*/
	margin:0px 0px 0px 0px;
	padding-top:10px;
	float:left;
}
.column4-right h2 a {
	text-decoration:none;
}
.column2-ex-left {
	width:590px;
	float:left;
	margin:0px 20px 0px 0px;
	padding-top:20px;
}
.column2-ex-right {
	width:330px;
	float:left;
	margin:0px 0px 0px 0px;
	padding-top:20px;
}
#footer {
	width:940px;
	margin:20px auto 0px;
	background-image:url(../images/bg_bottom02.png);
	background-repeat:repeat-x;
	height:46px;
	color:#FFF;
	font-size:14px;
	padding:0px 10px 0px 10px;
	position:relative;
}
#footer .bg-footer-purple {
	position:absolute;
	top:-5px;
	right:20px;
}
#footer .copy {
	float:left;
	margin:15px 0px 0px 0px;
}
#footer .nav-bottom ul {
	float:right;
	margin:15px 0px 0px 0px;
	list-style:none;
}
#footer .nav-bottom ul li {
	display:inline;
	margin:0px 0px 0px 0px;
}
#footer .nav-bottom ul li a {
	color:#FFF;
	text-decoration:none;
}
/* ---------------------Inner page 01------------------------------------------*/

.nav-sign-in {
	width:50%;
	float:right;
	height:20px;
	margin:0px 0px 0px 20px;
}
.nav-sign-in ul {
	list-style:none;
	margin:0px 0px 0px 0px;
	font-size:14px;
	font-weight:bold;
	float:right;
}
.nav-sign-in ul li {
	float:left;text-align:right;
	margin:0px 0px 0px 10px;
}
.nav-sign-in ul li a {
	color:#93278F;
	text-decoration:none;
}
.nav-sign-in ul li a:hover {
	color:#2C973E;
}

/*------------------------------------*/

#subpage_main-menu {
	width:670px;
	float:right;
	font-size:18px;
	color:#999;
	margin-top:0px;
}

#main-info {
	width:490px;
	float:right;
	font-size:18px;
	color:#999;
	margin-top:25px;
}

.main-info-title01, .main-info-title02 {
	width:140px;
}
.main-info-sms-balance {
	color:#333;
	width:80px;
}
.main-info-contacts {
	text-align:center;
}
.main-info-statistics {
	color:#333;
	font-size:16px;
}
/*------------------------------------*/

#user-role {
	color:#93278F;
	margin:0px 0px 20px 180px;
	font-weight:bold;
}
/*--------------Top_menu----------------------*/

.topmenu {
	position:relative;
	height:64px;
}
.topmenu ul.primary {
	position:absolute;
	z-index:2;
}
.topmenu ul.primary li {
	float:left;
	/*list-style:url(../images/ico_01.png) inside;*/
	height:28px;
	color: #93278F;
	padding: 6px 6px 2px;
}
.topmenu ul.primary a {
	font-family: verdana, sans-serif;
	font-size: 16px;
	font-weight:bold;
	text-decoration: none;
}
.topmenu ul.primary .current a {
	color: #FFF;
}
.topmenu ul.primary .current {
	border: 1px solid #93278F;
	border-bottom: none;
	background: url(../images/bg_top_menu.png) repeat-x;
	color:#FFF;
}
.topmenu ul.primary .current a:hover {
	color:#FFF;
}
.topmenu ul.primary a:hover {
	color:#2C973E;
}
.topmenu ul.secondary {
	display:none;
}
.topmenu ul.secondary li {
	list-style:none;
}
.topmenu ul.primary .active-topmenu ul.secondary {
	display:inline;
	width:958px;
	height:28px;
	position: absolute;
	bottom: -28px;
	left:0;
	z-index:-1;
	background: url(../images/bg_top_menu.png) repeat-x 0 -36px;
	border:1px solid #93278F;
	border-bottom:none;
}
.topmenu ul.secondary li a {
	display: block;
	border: none;
	color: #fff;
	font-size:12px;
	font-weight:bold;
	text-decoration: none;
}
.topmenu ul.secondary li a.current-sec {
	text-decoration: underline;
}
.topmenu ul.secondary li a:hover {
	color: #fff;
	border: none;
	text-decoration:underline;
}
.item-one { 
	list-style:url(../images/ico_01.png) inside;
	margin-right:1px;
}
.item-two {
	list-style:url(../images/ico_02.png) inside;
	margin-right:1px;
}
.item-three {
	list-style:url(../images/ico_03.png) inside;
	margin-right:1px;
}
.item-four {
	list-style:url(../images/ico_04.png) inside;
	margin-right:1px;
}
.item-five {
	list-style:url(../images/ico_05.png) inside;
	margin-right:1px;
}
.item-six {
	list-style:url(../images/ico_05.png) inside;
	margin-right:1px;
}
.item-seven {
	list-style:url(../images/ico_07.png) inside;
	margin-right:1px;
}
.item-eight {
	list-style:url(../images/ico_08.png) inside;
	margin-right:1px;
}
.item-nine {
	list-style:url(../images/ico_09.png) inside;
	margin-right:1px;
}
.item-one-a {
	list-style:url(../images/ico_01_a.png) inside;
	margin-right:1px;
}
.item-two-a {
	list-style:url(../images/ico_02_a.png) inside;
	margin-right:1px;
}
.item-three-a {
	list-style:url(../images/ico_03_a.png) inside;
	margin-right:1px;
}
.item-four-a {
	list-style:url(../images/ico_04_a.png) inside;
	margin-right:1px;
}
.item-five-a {
	list-style:url(../images/ico_05_a.png) inside;
	margin-right:1px;
}
.item-six-a {
	list-style:url(../images/ico_05_a.png) inside;
	margin-right:1px;
}
.item-seven-a {
	list-style:url(../images/ico_05_a.png) inside;
	margin-right:1px;
}
.item-eight-a {
	list-style:url(../images/ico_08_a.png) inside;
	margin-right:1px;
}
.item-nine-a {
	list-style:url(../images/ico_09_a.png) inside;
	margin-right:1px;
}
.column1-01 {
	width:940px;
	/*height:300px;
	background:#CCC;*/
	margin:10px 0;
}

/*-------------Top_menu_admin-----------------------*/

.topmenu_adm {
	position:relative;
	height:64px;
	width:985px;
}
.topmenu_adm ul.primary {
	position:absolute;
	z-index:2;
}
.topmenu_adm ul.primary li {
	float:left;
	/*list-style:url(../images/ico_01.png) inside;*/
	height:28px;
	color: #93278F;
	padding: 6px 6px 2px;
}
.topmenu_adm ul.primary a {
	font-family: verdana, sans-serif;
	font-size: 13px;
	font-weight:bold;
	text-decoration: none;
}
.topmenu_adm ul.primary .current a {
	color: #FFF;
}
.topmenu_adm ul.primary .current {
	border: 1px solid #93278F;
	border-bottom: none;
	background: url(../images/bg_top_menu.png) repeat-x;
	color:#FFF;
}
.topmenu_adm ul.primary .current a:hover {
	color:#FFF;
}
.topmenu_adm ul.primary a:hover {
	color:#2C973E;
}
.topmenu_adm ul.secondary {
	display:none;
}
.topmenu_adm ul.secondary li {
	list-style:none;
}
.topmenu_adm ul.primary .active-topmenu ul.secondary {
	display:inline;
	width:971px;
	height:28px;
	position: absolute;
	bottom: -28px;
	left:0;
	z-index:-1;
	background: url(../images/bg_top_menu.png) repeat-x 0 -36px;
	border:1px solid #93278F;
	border-bottom:none;
}
.topmenu_adm ul.secondary li a {
	display: block;
	border: none;
	color: #fff;
	font-size:10px;
	font-weight:bold;
	text-decoration: none;
}
.topmenu_adm ul.secondary li a.current-sec {
	text-decoration: underline;
}
.topmenu_adm ul.secondary li a:hover {
	color: #fff;
	border: none;
	text-decoration:underline;
}

.topmenu_adm .item-one { 
	list-style:url(../images/ico_01.png) inside;width: 110px;
}
.topmenu_adm .item-two {
	list-style:url(../images/ico_02.png) inside;width: 160px;
}
.topmenu_adm .item-three {
	list-style:url(../images/ico_03.png) inside;width: 140px;
}
.topmenu_adm .item-four {
	list-style:url(../images/ico_04.png) inside;width: 85px;
}
.topmenu_adm .item-five {
	list-style:url(../images/ico_05.png) inside;width: 100px;
}
.topmenu_adm .item-six {
	list-style:url(../images/ico_03.png) inside;width: 100px;
}
.topmenu_adm .item-seven {
	list-style:url(../images/ico_02.png) inside;width: 110px;
}
.topmenu_adm .item-eight {
	list-style:url(../images/ico_03.png) inside;width: 70px;
}
.topmenu_adm .item-one-a {
	list-style:url(../images/ico_01_a.png) inside;width: 110px;
}
.topmenu_adm .item-two-a {
	list-style:url(../images/ico_02_a.png) inside;width: 160px;
}
.topmenu_adm .item-three-a {
	list-style:url(../images/ico_03_a.png) inside;width: 140px;
}
.topmenu_adm .item-four-a {
	list-style:url(../images/ico_04_a.png) inside;width: 85px;
}
.topmenu_adm .item-five-a {
	list-style:url(../images/ico_05_a.png) inside;width: 100px;
}
.topmenu_adm .item-six-a {
	list-style:url(../images/ico_03.png) inside;width: 100px;
}
.topmenu_adm .item-seven-a {
	list-style:url(../images/ico_02_a.png) inside;width: 110px;
}
.topmenu_adm .item-eight-a {
	list-style:url(../images/ico_03.png) inside;width: 70px;
}
.topmenu_adm .column1-01 {
	width:985px;
	/*height:300px;
	background:#CCC;*/
	margin:10px 0;
}

/*--------------------------Body area-------------------------*/
.column1-01-contener {
	width:600px;
	border:#FF0000 0px solid;
	margin:0 auto;	
	
	/*background:#CCC;
	margin:10px 0;
	height:300px;*/
}
.body_mainTABLE {
	background:#CCC;
}

.body_mainTR {
	/*background:#f2f3f3;*/
	width:100%;
}
.body_mainTR-space{
	/*background:#fff;*/
	height:1px;
}

.body_mainTD {
padding:5px 10px;
	 
}

.column1-02 {
	width:940px;
	height:480px;
	background:#CCC;
	margin:10px 0;
}

.star_col{color:#97187c}


/*--------------------------Contact Us-------------------------*/


/*ul {

margin-left: 1em;

padding-left: 1em;

}*/

.column2-ex-left-2 {

width:940px; 

float:left;

margin:0px 20px 0px 0px;

padding-top:20px;

}

.column2-ex-right-2 {

width:170px; 

float:right;

margin:0px 0px 0px 0px;

padding-top:20px;

}


/*.column2-ex-left-2 {
	width:690px;
	float:left;
	padding:0px 20px 0px 100px;
	padding-top:20px;
	clear:both;
	border:#000000 0px solid;
}*/

.column2-ex-left-2-old {
	width:690px;
	float:left;
	margin:0px 20px 0px 0px;
	padding-top:20px;
}

.tooltipsy
{
    padding: 10px;
    max-width: 200px;
    color: #303030;
    background-color: #f5f5b5;
    border: 1px solid #deca7e;
}



/*.column2_contents {
	width:690px;
	float:left;clear:both;
	
}*/

/*.column2-ex-right-2 {
	width:230px;
	float:left;
	margin:0px 0px 0px 0px;
	padding-top:20px;
}
*/

	.standard-input input, .standard-input textarea, .standard-input select {
		width:100%;
		-moz-border-radius:4px;
		border-radius:4px;
		border:2px solid #ccc;
		-webkit-border-radius:4px;
		font-size:1.1em;
		color:#666;
		padding:5px;
		font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
		z-index:100 !important;
	}
	
	.textarea {	
	width:70%;
		-moz-border-radius:4px;
		border-radius:4px;
		border:2px solid #ccc;
		-webkit-border-radius:4px;
		font-size:1.1em;
		color:#666;
		padding:5px;
		font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
		z-index:100 !important;
	}
	
.textarea:focus {
	border:2px solid #93278F;
	background:#fff;
}
	
	
.standard-input input {
	border:2px solid #ccc;
	background-color:#fff;
}
.standard-input input:focus, .standard-input textarea:focus {
	border:2px solid #93278F;
	background:#fff;
}

.form_dinatrea{width:200px; float:left; display:block; margin-right:10px;}
.form_error{float:left; display:block; color:#c52121; font-size:11px; line-height:20px;}


.editbtn_2 {
	border:0px solid #93278F; 
	color:#FFFFFF;
	font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:1.2em; 
	width:32px;
	height:32px;
	vertical-align:text-top;
	text-align:center;
	background:url(../images/edit.png) no-repeat left; 
	cursor:pointer;
}

.disable_btn {
	border:0px solid #93278F; 
	color:#FFFFFF;
	font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:1.2em; 
	width:100px;
	height:31px;
	vertical-align:text-top;
	text-align:center;
	background:url(../images/disable.png) no-repeat left; 
}

.editbtn {
	border:0px solid #93278F; 
	color:#FFFFFF;
	font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:1.2em; 
	width:100px;
	height:31px;
	vertical-align:text-top;
	text-align:center;
	background:url(../images/btn_bg.png) no-repeat left; 
	cursor:pointer;
}
.green_btnbg {
	border:0px solid #93278F; 
	color:#FFFFFF;
	font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:1.2em; 
	width:140px;
	height:31px;
	vertical-align:text-top;
	text-align:center;
	background:url(../images/green_btnbg.png) no-repeat left; 
	cursor:pointer;
}

.redbtn {
	border:0px solid #93278F; 
	color:#FFFFFF;
	font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size:1.2em; 
	width:113px;
	height:31px;
	vertical-align:text-top;
	text-align:center;
	background:url(../images/red_btnbg.png) no-repeat; 
	cursor:pointer;
}

/****************** messages ********************/
.sucess_msg{ background:#bee1b9 url(../images/sucess_msg_icon.png) no-repeat 30px 15px;border:1px solid #adcba7;padding:20px 20px 20px 100px; width:70%; font-weight:bold;font-size:14px; color:#466718;}

.sucess_msg_2{ background:#bee1b9 url(../images/sucess_msg_icon_2.png) no-repeat 15px 3px; border:1px solid #adcba7;padding:5px 10px 5px 50px; font-weight:bold; color:#466718; width:80%;}

.error_msg{ background:#dec0c0 url(../images/error_msg_icon.png) no-repeat 15px 3px; border:1px solid #c2a4a4;padding:5px 10px 5px 50px; font-weight:bold; color:#99321f; width:60%;}

.content-link{
	font-size:14px;
	font-weight:bold;
	color:#93278F;
	text-decoration:none;
}
.content-link a {
	color:#93278F;
	text-decoration:none;
}
.content-link a:hover {
	color:#2C973E;
}

.content-link_green{
	font-weight:bold;
	color:#2C973E;
	text-decoration:none;
}
.content-link_green a {
	color:#2C973E;
	text-decoration:none;
}
.content-link_green a:hover {
	color:#93278F;
}

.content-link_Black{
	font-weight:bold;
	color:#000;
	text-decoration:none;
}
.content-link_Black a {
	color:#000;
	text-decoration:none;
}
.content-link_Black a:hover {
	color:#2C973E;
}


.TR_spc{
background-color:#fff;
}
.TD_spc{
height:2px;
}



.standard-input button {
	outline:none;
}
.top
{
	vertical-align:top;
	padding-top:6px;
}
.mobexmp{
	font:12px/24px arial;
	padding-left:20px;
	font-style:italic;
	color:#93278F;
}

#lang_container
{
	width:auto;
	text-align:right;
	padding:5px;
	color:#c0c0c0;
}
#lang_container a
{
	color:#2C973E;
	font-weight:bold;
	text-decoration:none;
}
#lang_container a:hover
{
	color:#93278F;
}

#file_inp{
	padding:20px;
	margin:0px;
	background: #DEFFD5;
}

#file_sub{
	padding:20px 0px 20px 20px;
	margin:0px;
}
#load{
	padding:0px;
	margin:0px;
	/*height:150px;*/
	width:325px;
}

#search_select{
	position:absolute;
	-moz-border-radius:4px;
	border-radius:4px;
	border:2px solid #ccc;
	-webkit-border-radius:4px;
	font-size:1.1em;
	color:#666;
	padding:5px;
	font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	z-index:100 !important;
	display:none;
	cursor:pointer;
	background:  #FFFFFF;
	
}

#search_select ul li{
	color: #589600;
	list-style: none;
	padding: 0px;
	line-height: 24px;
}


















