﻿/*.search-box form input[type="text"]*/
@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

.clr{
   clear:both;
}

a images {
 border:none;
 text-decoration:none;
}
a {
 border:none;
 text-decoration:none; 
	 color: #C0D72E;
}

p{
  font-size:15px;
   color:#3e4967;
    font-family: "Arail";
	line-height:20px;
}


body{
      background-image:url(images/filesms_body-bg.jpg);  
	  background-position: center top;
}



/*-------------------wrapper------------------*/
#wrapper{ 
   
    margin: 0;
    padding: 0; margin-bottom:25px;

}

.center-wrapper{
   margin:0 auto;
    width:620px;
}

 
/*-------------------header------------------*/ 
#header-page{
  float:left;
  width:620px;
}


.top-navi{
  float:left;
  width:439px;
  height:30px;
 /* background-image:url(images/top-navi-bg.png);
  background-repeat:repeat-x; */
 background-color:#CCFF66;
  margin-top:10px;
}

.top-navi ul{
 list-style:none;
}

.top-navi ul li{
  border-left: 1px solid #A7DB81;
    float: left;
    height: 30px;
    margin-left: 10px;
    padding: 0 9px;
}

.top-navi ul li:first-child{
 float:left;
 margin:0px;
 
}


.top-navi ul li a{
   color: #006633;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;

    line-height: 28px;
    text-decoration: none;
}


.top-navi .last{
   background-image: url("images/filesms_blue-manu.png");
    border: medium none;
    float: right;
    height: 30px;
    margin: 0;
    padding: 0 0 0 20px;
    width: 152px;
}


.top-navi .last a{
  color: #fff;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;

    line-height: 28px;
    text-decoration: none;
	
}

.top-navi-right  {
  float:right;
  width:170px;
}

.top-navi-right ul {
   list-style:none;
}

.top-navi-right ul li{
   float:left;
   margin:10px 10px;;
}

.top-navi-right ul li a{
color: #CCCCCC;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    text-decoration: none;}



.content{
   width:620px;
   height:144px;
   border:1px solid #bbbbbb;
   margin-top:20px; border-radius: 9px 9px 9px 9px;
}


.content ul{
  list-style:none;
}

.content ul li{
border: 1px solid #DDDDDD;
    float: left;
    margin-left: 17px;
    margin-top: 20px;
    padding: 8px 36px;
    text-align: center;}


.one{ 
   color: #000;
    font-family: arial;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
}

.two{ 
   color: #2799db;
    font-family: arial;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
}

.three{ 
   color: #339900;
    font-family: arial;
    font-size: 15px;
    line-height: 28px;
    text-decoration: none;
}


span.total{ 
   color: #529900;
    font-family: arial;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
	 font-weight:bold;
}

span.invalid{ 
   color: #cc0000;
    font-family: arial;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    font-weight:bold;
}

span.valid{ 
   color: #339900;
    font-family: arial;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
	 font-weight:bold;
}


.clear{
	 clear:both;
}

.footer{
   width:620px;
   height:179px;
      border:1px solid #bbbbbb;
	  margin-top:20px;
	  padding-bottom: 10px; border-radius: 9px 9px 9px 9px; padding-bottom: 30px;
}


.table-body{
float: left;
    margin: 20px;
    text-align: center;
    width: 580px}

.row-body{
border-bottom: 1px solid #DDDDDD;
    color: #000000;
    display: block;
    width: 580px;}
    
    .row-body.first{
	background-color: #EEEEEE;
}

    .row-body.first .row-1{
background-color: #FFFFFF;
    float: left;
    height: 24px;}
    
.row-1{
padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 340px;	}


.row-2{
 padding-right: 10px;
    text-align: left;
 width:41px;
 text-align:center;
}

.row-3{
 width:40px;
 padding-right: 10px;
    text-align: left;
	text-align:center;
}

.row-4{
 width:50px;
 padding-right: 10px;
    text-align: left;
	text-align:center;
}

.row-5{
 padding-right: 0;
    text-align: left;
    width: 40px;
	text-align:center;
}

.para{
  
border: 1px solid #ABADB3;
    color: #000000 !important;
    margin-top: 2px;
    padding: 0 2px;
    width: 350px;}

.footer-top{
     border: 1px solid #BBBBBB;
    height: 72px;
    margin-top: 20px;
    position: relative;
    width: 620px; border-radius: 9px 9px 9px 9px; color: #CCCCCC;
}


.footer-top p{color: #aaa;
	
}

.footer-bottom{
   float:left;
   width:620px;
   margin-top:20px;
}


.left-bottom{
   float:left;
   width:200px;
}


.right-bottom{
     float: right;
    width: 196px;
}


.back{
   float:right;
   margin-left:25px;
}

.summy{
 margin-left: 15px;
    margin-top: -15px;
}


.center-job{
 margin-left: 15px;
    margin-top: -12px;
}


.save-job{
margin-top: -32px;
    position: absolute;
    z-index: 1;
}

.wraper
{
margin:auto;
width:960px;

}


.navigation
{
background-image:url(images/filesms_nav.png);
height:32px;
background-repeat:repeat-x;
background-color:#000000;
}

.navigation ul
{
padding-left:10px;
}


.navigation li
{
list-style:none;
display:inline;
float:left;
margin-right:20px;
font-weight:200;
padding-top:5px;

}

.navigation li a{
color: #7C7C7C;
    float: left;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    height: 27px;
    line-height: 24px;
    padding: 0 6px;}

.navigation li a.active{
	 background-color:#fff;  color:#ffa045;
}

.title
{
color: #555555;
font-size: 20px;
margin-left: 13px;
margin-top: 10px;
}


.content-sec {
    border: 3px;
    height: 208px;
    margin-top: 8px;
    padding: 9px;
    width: 733px;
}

.second-nav li
{
display: inline;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    list-style-image: none;
    list-style-position: outside;
    margin-right: 20px; color: #AAAAAA;}

.second-nav ul
{
margin-top:10px;
}

.second-nav li.first-option
{
background-image: url("images/filesms_arrow.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    height: 31px;
    padding-left: 21px;
    width: 151px;}

.btm-content
{
border: 1px solid #ccccd2;
height: 97px;
margin-left: 21px;
margin-top: 70px;
width: 687px;border-radius: 9px 9px 9px 9px;

}

.file-upload{

background-image: url("images/file-upload.png");
background-repeat: no-repeat;
height: 28px;
margin-left: 14px;
margin-top: -12px;
position: absolute;
width: 100px;
}

.instrution
{
color: #CCCCD2;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    margin-left: 18px;
    margin-top: 28px;}



.upload

{

margin-left: 18px;
    margin-top: 12px;
}







