/*Following tags were updated with modified values/parameters*/

ul {
	margin-left: 1em;
	padding-left: 1em;
}

.column2-ex-left-2 {
	width:750px;
	float:left;
	margin:0px 20px 0px 0px;
	padding-top:20px;
}
.column2-ex-right-2 {
	width:170px; (original 230)
	float:left;
	margin:0px 0px 0px 0px;
	padding-top:20px;
}

#nav ul li {
	width:180px;/*float:left;*/

*/
