ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;	
	border-bottom: 0px solid #999;
	border-left: 0px solid #999;
	width: 100%;
}
ul.tabs li {
	background:#2c973e;
	float: left;
	margin:0 1px 0 3px;
	padding: 3px 0;	
	border: 0px solid #999;
	border-left: none;
	margin-bottom:0px;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color:#fff;
	font-weight:bold;
	display: block;
	font-size:12px;
	/*padding:3px 12px;*/
	padding:3px 9px;
	border: 0px solid #fff;
	outline: none;
	
}
ul.tabs li a:hover {padding:3px 9px;
	/*padding:3px 12px;*/
	color:#fff;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background:#981476; 
	color:#ffffff;
	border-bottom: 0px solid #fff;
}
.tab_container {
	border: 0px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
}
.tab_content {
	padding:0px;
	font-size: 1.1em;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 0px solid #ddd;
	padding: 5px;
}
