<!--admin header start-->
{include file="admin/adm_header.tpl"}
<!-- admin header end -->
<div id="container">
	<div class="column2-ex-left-2 column2_contents">
	<h1>ADMIN KEYS</h1>
	<div style="width:100%;">
		<div style="float:left;">
			<span class="form_dinatrea standard-input">					
					<select name="vendorName" id="select_mst_vendor">
					<option value="-1">Select broadcater</option>
					{section name=vendors loop=$arrVendors}
					<option value="{$arrVendors[vendors].id}"
					{if $arrVendors[vendors].id==$vendorName}selected{/if}>
					{$arrVendors[vendors].name}</option>
					{/section}
					</select></span>
		</div>
		<div style="float:left;">
			<span class="standard-input">
			<select  id="list_prim_keywords" multiple="multiple" >
			</select>
			</span>
		</div>
		<div style="float:left; ">
			<input type="button" id="new_prim_keywords" class="btd" value="New"/><br />
			<input type="button" id="edit_prim_keywords" class="btd" value="Edit"/><br />
			<input type="button" id="remove_prim_keywords" class="btd" value="Remove"/><br />
		</div>
			<div style="float:left; margin-left:35px;">
<span class="standard-input">
		 <select id="list_second_keywords" multiple="multiple" >
		 </select>
</span>
		 </div>
		 <div style="float:left; ">
		 		<input type="button" id="new_second_keywords" class="btd" value="New"/><br />
		 		<input type="button" id="edit_second_keywords" class="btd" value="Edit"/><br />
		 		<input type="button" id="remove_second_keywords" class="btd" value="Remove"/><br />
		 	</div>
	</div>

		<!-- middle body end-->
        
</div>
  <div class="clear"></div>
</div>
{literal}

    <script type="text/javascript">
	//<!--

        //-->
     </script>


{/literal}

