<div id="container">
    <h1>Manage SMS Packages</h1>
	<form name="admCredits" method="POST" action="">
<table>
	<tr>
		<td>Start range</td>
		<td><input type="text" name="startSms" id="startSms" value="{$startSms}" size="10"></td>
		<td></td>
	</tr>
	<tr>
		<td>Start range</td>
		<td><input type="text" name="endSms" id="endSms" value="{$endSms}" size="10"></td>
		<td></td>
	</tr>
	<tr>
		<td>Rate/SMS</td>
		<td><input type="text" name="smsRate" id="smsRate" value="{$smsRate}" size="5"></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="submit" name="save" id="save" value="Save" >
			<input type="submit" name="action" id="action" value="{$action}" >
		</td>

		<td></td>
	</tr>
</table>
</form>

<table>
	<tr>
		<td>SMS Range</td>
		<td>Rate</td>
		<td>Edit</td>
		<td>Delete</td>
	</tr>
	{section name=smsScheme loop=$arrSmsScheme}
		<tr>
			<td>{$arrSmsScheme[smsScheme].start_range .'-'. $arrSmsScheme[smsScheme].end_range}</td>
			<td>{$arrSmsScheme[smsScheme].rate}</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
	
	{/section}
</table>

</div>