
<div id="container">
<div class="line01"></div>
    <h1>Admin Login</h1>
	<div style="width:700px; margin:0 auto;">	
<form name="login" method="POST" action="">
	 <table cellspacing="10" align="center">			
		<tr>
			<td colspan="2"><font color="#FF0000">{$msg}</font></td>
		</tr>

		<tr>
			<td>Mobile No</td>
			<td><span class="form_dinatrea standard-input">
			<input type="text" name="mob_no" id="mob_no" maxlength="{$mobMaxlength}"></span></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><span class="form_dinatrea standard-input"><input type="password" name="password" id="password"></span></td>
		</tr>
		<tr>
		    <td>&nbsp;</td>
			<td>
				<input type="submit" name="submit" id="submit" value="Login" class="editbtn">
				<input type="hidden" name="action" id="action" value="login">
				<input type="hidden" name="userType" id="userType" value="ADM">
			</td>
			
		</tr>
			
	</table>
</form>
</div></div>