<div id="container">
	<div class="line01"></div>
  <div class="column2-ex-left-2-old">
		<h1>{$smarty.const.SMS_CHAR_COUNT}</h1>
	<h2>&nbsp;</h2>
		<form name="form1" method="post" action="">
		<table width="600" border="0">
          <tr>
            <td width="100" valign="top">Message </td>
            <td width="400"><textarea name="textMessage" cols="40"  rows="4" class="textarea" id="textMessage">{$textMessage}</textarea></td>
          </tr>
          <tr>
            <td>{$smarty.const.COUNTER}:</td>
            <td><div style="width:30%; float:left;"><span id="charCount">0</span>/160</div>
				<div style="width:70%; float:left;" id="messageCount">&nbsp;</div></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;            </td>
          </tr>
        </table>
		<br/>
        </form>
		</div>
	<div class="column2-ex-right-2"> &nbsp;</div>
	<div class="clear"></div>
</div>