	<div id="footer"> <img class="bg-footer-purple" alt="bg" src="{$BASE_URL_HTTP_ASSETS}images/bg_bottom01.png" />
		
		<div class="clear"></div>
	</div>
</body>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-10249291-9']);
	_gaq.push(['_trackPageview']);

	(function(){
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</html>