
<div id="container">
<div class="line01"></div>
    <h1 style="margin-left:200px">PSPF Mobile Customer Support System </h1>
	<div style="width:950px;">	
<form name="login" method="POST" action="">
	 <table cellspacing="10" align="center" style="margin-left:250px;">			
		<!-- <tr>
		  <td colspan="2"><div align="center"><h2>Login</h2></div></td>
	    </tr> -->
		<tr>
			<td colspan="2"><font color="#FF0000">{$msg}</font></td>
		</tr>

		<tr>
			<td>{$smarty.const.INDEX_USERNAME}</td>
			<td><span class="form_dinatrea standard-input">
			<input type="text" name="username" id="username" style="width:170px;" /></span></td>
		</tr>
		<tr>
			<td>{$smarty.const.INDEX_PASSWORD}</td>
			<td><span class="form_dinatrea standard-input"><input type="password" name="password" id="password" style="width:170px;" /></span></td>
		</tr>
		<tr>
		    <td><a href="forgot_pass.php" >{$smarty.const.INDEX_FORGOT_PASSWORD}</a></td>
			<td>
				<input type="submit" name="submit" id="submit" value="Login" class="editbtn">
				<input type="hidden" name="action" id="action" value="login">
				<input type="hidden" name="userType" id="userType" value="VEN">			</td>
		</tr>
	</table>
</form>
</div></div>